.instHead {
  display: grid;
  place-items: center;
  font-size: x-large;
  font-weight: 600;
  margin-top: 1vh;
}

.categorycontainer {
  display: flex;
  align-items: center;
}

.categorylabel,
.categoryvalue {
  margin: 0;
  font-size: inherit;
}

.chatContainer {
  // max-width: 1100px;
  margin: 0 auto;
  display: grid;
  // grid-template-columns: 1fr 4fr;
  gap: 20px;
}
